Table: Employee

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
| salary      | int     |
| managerId   | int     |
+-------------+---------+
id is the primary key (column with unique values) for this table.
Each row of this table indicates the ID of an employee, their name, salary, and the ID of their manager.
 

Write a solution to find the employees who earn more than their managers.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Employee table:
+----+-------+--------+-----------+
| id | name  | salary | managerId |
+----+-------+--------+-----------+
| 1  | Joe   | 70000  | 3         |
| 2  | Henry | 80000  | 4         |
| 3  | Sam   | 60000  | Null      |
| 4  | Max   | 90000  | Null      |
+----+-------+--------+-----------+
Output: 
+----------+
| Employee |
+----------+
| Joe      |
+----------+
Explanation: Joe is the only employee who earns more than his manager.

In [16]:
import pandas as pd

employee_data = {
    "id": [1,2,3,4], 
    "name": ["Joe","Henry","Sma","Max"],
    "salary": [70000, 80000, 60000, 90000],
    "managerId": [3,4, None, None]
}

employee = pd.DataFrame(employee_data)
employee.head()

merged= employee.merge(employee, left_on='managerId', right_on='id', how='inner')
output_df = merged[merged['salary_x'] > merged['salary_y']][['name_x']]
output_df = output_df.rename(columns={'name_x':'employee'})
output_df.head()

  employee
0      Joe

In [34]:
import os,sys
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

spark = SparkSession.builder.master('local[*]').getOrCreate()

employee_data = {
    "id": [1,2,3,4], 
    "name": ["Joe","Henry","Sma","Max"],
    "salary": [70000, 80000, 60000, 90000],
    "managerId": [3,4, None, None]
}

employee = pd.DataFrame(employee_data)

employee = spark.createDataFrame(employee) 

employee.createOrReplaceTempView('employee')

output_df =  spark.sql("""
select A.name as Employee from (
select e1.id,e1.name,e1.salary,e2.id as manager_id, e2.salary
from employee e1 join employee e2
on e1.managerId=e2.id
where e1.salary>e2.salary)A
""")

output_df.show()


merged_df = employee.alias('e1').join(employee.alias('e2'), col('e1.managerId')==col('e2.id'), how='inner')\
.select(col('e1.id'), col('e1.name'), col('e1.salary'), col('e2.id').alias('manager_id'), col('e2.salary'))\
.filter(col('e1.salary')>col('e2.salary'))

output_df = merged_df.select(merged_df.name.alias('Employee'))
output_df.show()

+--------+
|Employee|
+--------+
|     Joe|
+--------+

+--------+
|Employee|
+--------+
|     Joe|
+--------+